{
    "tasks": [
        {
            "name": "task_name"             # REQUIRED The name that will be assigned in the task manager cli
            "cmd": "say DAJE ROMA",         # REQUIRED The name of the command to launch
            "amount": 10,                   # REQUIRED How many process you want to spawn
            "auto_start": true,             # OPTIONAL The process will run on start, default true
            "auto_restart": "never",        # OPTIONAL Restart the task on "never", "always", or "unexpected", default "never"
            "expected_outputs":              # OPTIONAL Which return codes represent an "expected" exit status, default []
                [
                    0, 9
                ],
            "time_start": 1,                # OPTIONAL How long the program should be running after it’s started for it to be considered "successfully started", default 0
            "max_retries": 1,               # OPTIONAL How many times a restart should be attempted before aborting, default 3
            "kill_signal": "SIGKILL"        # OPTIONAL Which signal should be used to stop (i.e. exit gracefully) the program, default "SIGKILL"
            "time_stop": 1                  # OPTIONAL How long to wait after a graceful stop before killing the program, default 0
            "stdout": ""                    # OPTIONAL Redirect stdout to file (path) or discard it (""), default ""
            "stderr": ""                    # OPTIONAL Redirect stdout to file (path) or discard it (""), default ""
            "env":                          # OPTIONAL Environment variables to set before launching the program, default []
                {
                },
            "dir": "."                      # OPTIONAL A working directory to set before launching the program, default "."
            umask: "0666"                     # OPTIONAL An umask to set before launching the program, default 0666 (touch default permission -rw-rw-rw)
        },
        ...
    },
    "log": {
        "level": "DEBUG",
    }
}